.offer-details {

  &__header {
    align-items: end;
    justify-content: space-between;
    display: flex;
    background: #5588B1;
    padding: 0 24px;

    &-title {
      text-transform: uppercase;
    }

    &-localization {

    }
  }

  &__info {

    &-title {
      font-weight: bold;

      margin: 6px 0;
      display: block;
      border-bottom: 2px solid black;
    }

    &-description,
    &-requirements,
    &-company-description {
      font-family: inherit;
      font-size: 16px;
      white-space: pre-wrap;
      padding: 4px 8px;
    }
  }
}